<mat-toolbar color="primary">
  <button
    class="example-icon"
    (click)="menuClick.emit()"
    mat-icon-button
    aria-label="Example icon-button with menu icon">
    <mat-icon>menu</mat-icon>
  </button>
  <img class="shop-icon" [src]="applicationConfig?.shopIconSrc" alt="logo" />
  <span>{{ applicationConfig?.title }}</span>
  <span class="example-spacer"></span>
  <button
    class="example-icon favorite-icon"
    (click)="openPopup(first)"
    mat-icon-button
    aria-label="Example icon-button with heart icon">
    <mat-icon>favorite</mat-icon>
  </button>
  <button class="example-icon" mat-icon-button aria-label="Example icon-button with share icon">
    <mat-icon>share</mat-icon>
  </button>
</mat-toolbar>

<ng-template #first let-title>
  <h2>{{ title }}</h2>
  <p>Is first template</p>
  <button (click)="closeDialog()" type="button" mat-button>Close</button>
</ng-template>
