:host {
    position: absolute;
    left: 50%;
    top: 50%;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    background-color: pink;
    width: 800px;
    height: 500px;
    z-index: 1;
    transform: translate(-50%, -50%);
}

:host(.tooltip) {
    background-color: inherit;
}
